<?xml version="1.0" ?>
<!--Develped by Daniel Ordonez 11.01.2018 - dfordoneza@unal.edu.co
		Edited by Fernando Barbosa 05.04.2018 - fbarbosac@unal.edu.co
	INFORMATION:
		This xacro file creates the urdf description of Invite's CSDA10F dual-arm robot with 
		both 2-Finger Adaptative Robotiq Grippers (140mm one for the right arm and 80mm one for the left one)
	UPGRADE:
	its added all inertial tags for all links and its added all transmission tags for all joints
	of Invite's CSDA10F dual-arm robot
-->

<robot name="motoman_csda10f" xmlns:xacro="http://ros.org/wiki/xacro">
	<!-- Import macros required-->
	<xacro:include filename="$(find invite_motoman_gazebo)/urdf/urdf_src/motoman_csda10f_support/csda10f_macro.xacro" />
	<!--Import macro for left arm gripper-->
	<xacro:include filename="$(find invite_motoman_gazebo)/urdf/left_gripper_macro.xacro" /> 
  	<!--Import macro for right arm gripper-->
	<xacro:include filename="$(find invite_motoman_gazebo)/urdf/right_gripper_macro.xacro" /> 

	<!--Create instance of the macros imported-->
	<!--Create an instance of YASKAWA Motoman CSDA10F robot-->
	<xacro:motoman_csda10f prefix=""/>
	<!--Create an instance of the right arm gripper macro-->
	<xacro:invite_csda10f_right_gripper prefix="arm_right_"/> 
	<!--Create an instance of the right left gripper macro-->
	<xacro:invite_csda10f_left_gripper prefix="arm_left_"/> 

	<!--Joints joining the grippers to the robot-->
	<joint name="left_gripper_to_robot_joint" type="fixed">
		<parent link="arm_left_link_tool0" />
		<child link="arm_left_link_force_sensor_adapter_plate" />
		<origin xyz="0 0 0" rpy="0 0 ${111.42*pi/180}"/> 
		<axis xyz="0 0 1"/>
	</joint> 

	<joint name="right_gripper_to_robot_joint" type="fixed"> 
		<parent link="arm_right_link_tool0" /> 
		<child link="arm_right_link_gripper_adapter_plate" /> 
		<origin xyz="0 0 0" rpy="${pi/2} 0 0"/> 
		<axis xyz="0 0 1"/> 
	</joint> 

	<!--Define the TCP of the grippers -->
  <link name="arm_right_link_tcp" />
	<link name="arm_left_link_tcp" />

	<!--Define the position of the TCP with respect to the arm flange-->
  <joint name="arm_right_joint_tcp" type="fixed" >
      <origin xyz="0 0 0.1994" rpy="0 0 0"/>
      <parent link="arm_right_link_tool0" />
      <child link="arm_right_link_tcp" />
  </joint>

	<joint name="arm_left_joint_tcp" type="fixed" >
      <origin xyz="0 0 0.2094" rpy="0 0 ${111.42*pi/180}"/>
      <parent link="arm_left_link_tool0" />
      <child link="arm_left_link_tcp" />
  </joint>

  <!-- ros_control plugin invite_csda10f gazebo-->
  <gazebo>
    <plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so">
       <robotNamespace>/csda10f</robotNamespace>
      <!-- <robotSimType>gazebo_ros_control/DefaultRobotHWSim</robotSimType> -->
    </plugin>
  </gazebo> 


  <!-- Fix robot to Gazebo world -->
  <link name="world"/>
   <joint name="world-base_link-fixed" type="fixed">
     <parent link="world"/>
     <child link="base_link"/>
  </joint>

</robot>

