<launch>

  # The planning and execution components of MoveIt! configured to 
 # publish the current configuration of the robot (simulated or real)
 # and the current state of the world as seen by the planner

  <rosparam command="load" file="$(find invite_motoman_support)/config/joint_names_csda10f.yaml" />

  <!-- By default, we do not start a database (it can be large) -->
  <arg name="db" default="false" />
  <!-- Allow user to specify database location -->
  <!-- <arg name="db_path" default="$(find invite_motoman_moveit_config)/default_warehouse_db" /> -->

  
  <!-- don't let planning_context load description, we've already done it -->
  <include file="$(find invite_motoman_moveit_config)/launch/planning_context.launch">
    <arg name="load_robot_description" value="false" />
  </include>
 

<!-- REVISAR NODO PUBLICADOR PARA QUE FUNCIONE -->
     <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />  


 <include file="$(find invite_motoman_moveit_config)/launch/move_group.launch">
  <arg name="publish_monitored_planning_scene" value="true" />
 </include>



 # The visualization component of MoveIt!
 
 <include file="$(find invite_motoman_moveit_config)/launch/moveit_rviz.launch">
    <arg name="config" value="true"/>
 </include>


  
  <!-- If database loading was enabled, start mongodb as well -->
  <!-- <include file="$(find invite_motoman_moveit_config)/launch/default_warehouse_db.launch" if="$(arg db)"> -->
  <!--  <arg name="moveit_warehouse_database_path" value="$(arg db_path)"/> -->
  <!-- </include> -->
 </launch> 