<launch>
	<param name="robot_description" command="$(find xacro)/xacro.py '$(find invite_motoman_support)/urdf/invite_csda10f.xacro'" />
	<param name="use_gui" value="true" />

	<node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
	<node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />

	<!-- Launch Rviz with a custom configuration file for the CSDA10F robot and tool TCP's-->
	<node name="rviz" pkg="rviz" type="rviz" args="-d $(find invite_motoman_support)/config/default_config.rviz" required="true" 
		output="screen"/>
</launch>
 