<launch>

  <!-- load the joint state controller -->
  <rosparam file="$(find invite_motoman_gazebo)/config/joint_state_controller.yaml" command="load" />
  <node name="joint_state_controller_spawner" pkg="controller_manager" type="controller_manager" args="spawn joint_state_controller" />

  <!-- load the arm controller -->
  <rosparam file="$(find invite_motoman_gazebo)/config/invite_arm_controller.yaml" command="load" />
  <node name="invite_arm_controller_spawner" pkg="controller_manager" type="controller_manager" args="spawn arm_controller" /> -->
  
</launch>
