<launch>

  <!-- load the joint state controller -->
  <rosparam file="$(find invite_motoman_gazebo)/config/joint_state_controller.yaml" command="load" />
  <node name="joint_state_controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen" ns="/csda10f"
             args="joint_state_controller" />

  <!-- load the robot controllers -->
  <rosparam file="$(find invite_motoman_gazebo)/config/invite_arm_controller.yaml" command="load" />
  <node name="invite_arm_controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
       output="screen" ns="/csda10f" args="csda10f_r1_controller        csda10f_r2_controller  csda10f_b1_controller  csda10f_b2_controller" /> 

</launch>
