<?xml version="1.0" ?>
<!--Develped by: Daniel Ordonez 11.01.2018 - dfordoneza@unal.edu.co
INFORMATION: 
	This file defines the macro instruction for creating instances of the left arm gripper of Invite's 
	CSDA10F Motoman robot.

NOTE: 
	This file should only be changed if the gripper configuration  has changed (change in any of the parts,
	for example the adapter plate or the gripper itself).

INTRUCTIONS: 
	An example on how to use this macro is shown in the file: 'left_gripper.xacro', of this same package
-->
<robot xmlns:xacro="http://ros.org/wiki/xacro">

	<xacro:macro name="invite_csda10f_left_gripper" params="prefix">

		<!-- Import macro from 2-finger adaptative robotiq gripper -->
		<xacro:include filename="$(find robotiq_2f_85_gripper_visualization)/urdf/robotiq_arg2f_85_model_macro.xacro" />
		<!-- Import macro of Robotiq force sensor FT300 -->
		<xacro:include filename="$(find robotiq_ft_sensor)/urdf/robotiq_ft300.urdf.xacro" />



		<!--LINKS********************************************************************************************************************************-->

		<!--Aluminium Adapter plate from Flange to Robotiq Force Sensor adapter plate-->
		<link name="${prefix}ft300_adapter_plate">
			<visual>
				<origin xyz="0 0 0" rpy="0 ${-pi/2} ${pi/2}"/>
				<geometry>
					<mesh filename="package://invite_motoman_support/meshes/visual/Adaptor-Flange-FT300.stl"/>
				</geometry>
				<material name="Aluminium">
					<color rgba="0.816 0.816 0.816 1.0"/>
				</material>
			</visual>
			<collision>
				<!-- <origin xyz="0 0 0" rpy="0 ${-pi/2} ${pi/2}"/>
				<geometry>
					<mesh filename="package://invite_motoman_support/meshes/collision/Adaptor-Flange-FT300.stl"/>
				</geometry> -->
				<geometry>
					<cylinder length="${0.15}" radius="${0.038 + 0.04}"/>
				</geometry>
			</collision>
			<inertial>
				<origin xyz="0 0 0.07" rpy="0 0 0"/>
				<mass value="0.1356"/>
				<inertia ixx="${(1/12)*0.1356*(0.014*0.014)}"  
								 iyy="${(1/12)*0.1356*(0.014*0.014)}" 
								 izz="${(1/2)*0.1356*(0.04*0.04 + 0.016*0.016)}"
								 ixy="0" ixz="0" iyz="0"/>
			</inertial>
		</link>


		<!--Aluminium Adapter plate from Robotiq Force Sensor to Robotiq Gripper adapter plate-->
		<link name="${prefix}gripper_adapter_plate">
			<visual>
				<origin rpy="0 0 0" xyz="0 0 0"/>
				<geometry>
					<mesh filename="package://invite_motoman_support/meshes/visual/Adaptor-FT300-Gripper.stl"/>
				</geometry>
				<material name="Aluminium">
					<color rgba="0.816 0.816 0.816 1.0"/>
				</material>
			</visual>
			<collision>
				<origin rpy="0 0 0" xyz="0 0 0"/>
				<geometry>
					<mesh filename="package://invite_motoman_support/meshes/collision/Adaptor-FT300-Gripper.stl"/>
				</geometry>
			</collision>
			<inertial>
				<origin xyz="0 0 0.065" rpy="0 0 0"/>
				<mass value="0.153"/>
				<inertia ixx="${(1/12)*0.153*(0.012*0.012)}"  
								 iyy="${(1/12)*0.153*(0.012*0.012)}" 
								 izz="${(1/2)*0.153*(0.0375*0.0375)}"
								 ixy="0" ixz="0" iyz="0" />
			</inertial>
		</link>

		<!--Robotiq coupling, that connects the gripper with the Adapter plate; this part host the cable connections of the gripper-->
		<link name="${prefix}robotiq_gripper_coupling">
			<visual>
				<origin rpy="0 0 0" xyz="0 0 0"/>
				<geometry>
					<mesh filename="package://invite_motoman_support/meshes/visual/robotiq_gripper_coupling.stl" scale="0.001 0.001 0.001"/>
				</geometry>
				<material name="light_balck">
					<color rgba="0.17 0.17 0.17 1.0"/>
				</material>
			</visual>
			<collision>
				<origin rpy="0 0 0" xyz="0 0 0"/>
				<geometry>
					<cylinder length="0.0135" radius="0.038"/>
				</geometry>
				<material name="yellow"/>
			</collision>
		</link>-->


		<!-- Instance Gripper C3 85mm Model  -->
		<xacro:robotiq_arg2f_85 prefix="${prefix}"/>
		<!-- Instance FT300 Force Torque Sensor   -->
		<xacro:robotiq_ft300 parent="${prefix}ft300_adapter_plate" prefix="${prefix}">
			<origin xyz="0 0 0.010" rpy="0 0 ${25 * pi/180}"/>
		</xacro:robotiq_ft300>

		<!--Joints ******************************************************************************************************************-->

		<!-- The joint from the ft300 coupling to the ft300 is defined in the 
		ft300 urdf -->

		<!--Joint from the adapter plate to the robotiq gripper coupling-->
		<joint name="${prefix}gripper_adapter_plate_joint" type="fixed">
			<origin xyz="0 0 0" rpy="0 0 ${(-90-20)*pi/180}"/>
			<parent link="${prefix}robotiq_ft_frame_id" />
			<child link="${prefix}gripper_adapter_plate" />
		</joint>

		<!--Joint from the FT Sensor to the Gripper adaptor plate -->
		<joint name="${prefix}robotiq_gripper_coupling_joint" type="fixed">
			<origin xyz="0 0 ${0.012 + (0.0135/2)}" rpy="0 0 ${45*pi/180}"/>
			<parent link="${prefix}gripper_adapter_plate" />
			<child link="${prefix}robotiq_gripper_coupling" />
		</joint>


		<joint name="${prefix}robotiq_arg2f_joint" type="fixed">
			<origin xyz="0 0 0.0039" rpy="0 0 ${pi/2}"/>
			<parent link="${prefix}robotiq_gripper_coupling" />
			<child link="${prefix}robotiq_arg2f_base_link" />
		</joint>

	</xacro:macro>
</robot>
