<launch>
    <arg name="continuous" default="true"/>

    <include file="$(find invite_vision)/launch/vision_setup.launch">
        <arg name="output" value="screen"/>
        <arg name="continuous" value="$(arg continuous)"/>
    </include>
    <include file="$(find invite_vision)/launch/pre_processing.launch">
        <arg name="tunning" value="false"/>
    </include>

    <!-- TO-DO: Make this a Nodelet connected to ensenso_driver Nodelet Threads -->
    <node pkg="invite_vision" type="concatenate_cameras_pointcloud" name="concatenator"/>
    
</launch>