<launch>
    <!-- Optional: Change logging format for ease of reading-->
    <env name="ROSCONSOLE_FORMAT" value="[${severity}] [${node}]: ${message}"/>   

    <!-- Scene objects to load as default -->
    <arg name="scene_file" default="$(find invite_motoman_moveit_config)/scenes/default_scene_objects.scene"/> 
    <!-- Paramter to define whether the tutorial runs on simulation or in the real robot-->
    <arg name="sim" default="true"/>
    <!-- When not simulating, parameters for real robot interface -->
    <arg name="robot_ip" unless="$(arg sim)" value="$(arg robot_ip)" doc="Robot controller IP address"/>
    <arg name="controller" unless="$(arg sim)" value="$(arg controller)" default="fs100"/>

    <!-- Connect to real robot -->
    <group unless="$(arg sim)">
    <!--Run the robot simulation or interface nodes for real robot operation -->
        <include file="$(find invite_motoman_moveit_config)/launch/moveit_planning_execution.launch">
            <arg name="sim" value="true"/>
            <arg name="robot_ip" unless="$(arg sim)" value="$(arg robot_ip)"/>
            <arg name="controller" unless="$(arg sim)" value="$(arg controller)"/>
        </include>
        
        <!-- Load `scene_file` scene objects for collision checking -->
        <node name= "moveit_publish_scene_from_text" pkg= "moveit_ros_planning" type="moveit_publish_scene_from_text" 
                args= "$(arg scene_file)" output="screen"/>
    </group>

    <!--Start simulated robot -->
    <group if="$(arg sim)">
        <include file="$(find invite_motoman_moveit_config)/launch/demo.launch">
            <arg name="load_scene" value="true"/>
        </include>
    </group>
   
    <!-- Launch tutorial executable Node-->
    <node name="invite_pick_and_place" type="invite_pick_and_place" pkg="invite_beginner_tutorials" output="screen">
       <param name="sim" type="bool" value="$(arg sim)"/>
    </node>
</launch>